#### Operators in python
- 1.Arithematic Operator
- 2.Assignment operator
- 3.Comparision Operator
- 4.Logical Operator
- 5.Bitwise Operator
- 6.Identity Operator
- 7.Membership Operator

#### Conditional Statements
- 1.If
- 2.Elif
- 3.Else
- 4.Nested If Statments

#### Iterators in python
- 1.for loop
- 2.while loop

In [4]:
# Arithematic operators
a=10
b=23
c=34
print(a+b)
print(a+b+c)

33
67

In [6]:
a=10
b=34
c=-32
print(a-b)
print(a-b-c)

-24
8

In [7]:
a=10
b=3
c=4
print(a*b)
print(a*b*c)

30
120

In [10]:
a=10
b=20
c=3
print(a+b+c)
print(a-b-c)
print(a*b*c)
print(a/c)# division return float value
print(a**c)
print(a%b)
print(a//c)# floor division return integer value

33
-13
600
3.3333333333333335
1000
10
3

In [13]:
# assignment operator
a=10
a-=5
a

5

In [15]:
b=10
b//=5
b

2

In [16]:
c=10
c**=4
c

10000

In [22]:
# Comparison operator return true or false
# <,>,==,!=,<=,>=
a=10
b=20
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [30]:
# logical operator
# and,or,nor
a=-2
b=-4
a and b

-4

In [34]:
a=0
b=True
a or b

1

In [36]:
a=0
not a

True

In [37]:
# bitwise operator
# | & 
a=7 # 1 1 1
b=5 # 1 0 1
#res  1 1 1
a|b

7

In [38]:
a=4 # 1 0 0
b=5 # 1 0 1
#res  1 0 1
a|b

5

8 4 2 1
0 0 0 0 ->0
0 0 0 1 ->1
0 0 1 0 ->2
0 0 1 1 ->3
0 1 0 0 ->4
0 1 0 1 ->5
0 1 1 0 ->6
0 1 1 1 ->7
1 0 0 0 ->8
1 0 0 1 ->9

In [41]:
a=8 # 1 0 0 0
b=9 # 1 0 0 1
#res  1 0 0 0
a&b

8

In [45]:
# bitwise operators a>>b(shift a right by b bits)
# >>,<<(a<<b)shift a left by b bits
a=3 # 0 1 1 
b=1 # 1 time shifted t0 right
# res 0 0 1
a>>b

1

In [55]:
a=3 # 0 1 1
b=1 # 
#res  1 1 0
a<<b

6

In [47]:
# identity operator
# is,is not
a=10
a is 9

False

In [49]:
a=10
a is not 8

True

In [57]:
# membership test operator
# in , not in
a=['abc','abcd','abcdef']
if 'abc' not in a:
    print('your value is not there')
else:
    print('your value is there')

your value is there

In [62]:
# conditional statements-it checks a certain condition.or group of conditions
#if,elif,else and nested if statements

#1. findout given number is even or not
a=10 # a contain value is static
if (a%2==0):
    print(a,'is even number')
else:
    print(a,'is not even')

10 is even number

In [69]:
# taking value from user or dynamically and find no is even r odd
a=int(input('enter a value:'))#input default takes string
if (a%2==0):
    print(a,'is even number')
else:
    print(a,'is odd number')

enter a value:13
13 is odd number

In [71]:
1==0

False

In [70]:
13%2

1