In [2]:
#sort,reverse
a=[5,6,7,1,8,9,2,3,4]
# asc,desc
a.sort(reverse=True)
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
a.sort(reverse=False)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# a=[8,6,5,4,7,1,2,3,6,2,3,4,5,10,9]
# output=[1,2,3,4,5,6,7,8,9,10]
a=[8,6,5,4,7,1,2,3,6,2,3,4,5,10,9]
b=[]
for i in a:
    if i not in b:
        b.append(i)
b.sort()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Tuples
- collection of elements enclosed by paranthesis
- tuple is immutable
- accessing elements
- slicing
- tuple concat
- methods

In [11]:
a=tuple([1,2,3,4,5,6,7,8,9])
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
b=(1,2,3,4,5)
print(type(b))
print(b)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [12]:
# a=[1,2,3,4,5,6]
#output=(1,2,3,4,5,6)
a=[1,2,3,4,5,6]
print(tuple(a))

(1, 2, 3, 4, 5, 6)

In [19]:
a=(1,2,'workshop',3,4,5,6,'venkatesh','apssdc','guntur','python')
for i in a:
    i=str(i)
    if i.isdigit():
        print(i,end=',')

1,2,3,4,5,6,

In [15]:
a[6:]

('venkatesh', 'apssdc')

In [ ]:
a=('1','2','workshop','3','4','5','6','venkatesh','apssdc','guntur','python')
c=[]
while True:
    b=input()
    if not b:
        break
    elif (b in a):
        c.append(b)
for j in c:
    print(j,end=' ')

In [28]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [29]:
# count-return frequency of element
# index - return index potion of element
a=(1,2,3,4,5,6.6,5,4,3,1,1,1,3)
a.count(1)

4

#### Dictionaries
- collection of order and indexed items enclosed by curly braces
- item contains key and value pair
- d1={'id':1,'name':'venkatesh'}
- mutable 
- methods

In [30]:
d1={'name':'venkatesh','salary':36000,'age':27}
print(type(d1))
print(d1)

<class 'dict'>
{'name': 'venkatesh', 'salary': 36000, 'age': 27}

In [32]:
d1['name']='dileep'
d1

{'name': 'dileep', 'salary': 36000, 'age': 27}

In [34]:
d1['address']='gunutr'
d1

{'name': 'dileep', 'salary': 36000, 'age': 27, 'address': 'gunutr'}

In [35]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [36]:
d1

{'name': 'dileep', 'salary': 36000, 'age': 27, 'address': 'gunutr'}

In [37]:
d1.items()

dict_items([('name', 'dileep'), ('salary', 36000), ('age', 27), ('address', 'gunutr')])

In [38]:
d1.keys()#returns keys

dict_keys(['name', 'salary', 'age', 'address'])

In [39]:
d1.values()# return values

dict_values(['dileep', 36000, 27, 'gunutr'])

In [40]:
d1.pop('age')# mention keys
#d1.popitem()# default it remove last item
d1

{'name': 'dileep', 'salary': 36000, 'address': 'gunutr'}

In [41]:
d1.popitem()
d1

{'name': 'dileep', 'salary': 36000}

In [42]:
del d1['salary']
d1

{'name': 'dileep'}

In [43]:
l1=['name','salary','address']
l2=['venkatesh',36000,'guntur']
d2={}
for i in range(len(l1)):
    d2[l1[i]]=l2[i]
d2

{'name': 'venkatesh', 'salary': 36000, 'address': 'guntur'}

#### Sets
- sets is a collection of unique unorder and unindexed items enclosed by curly braces
- a1={1,2,3,1,2,3,4,5,6}
    - output={1,2,3,4,5,6}
- methods

In [44]:
s1={1,2,3,1,2,3,4,5,6}
print(type(s1))
print(s1)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [47]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [48]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [49]:
s={1,2,3,4}
s.add(5)
s

{1, 2, 3, 4, 5}

In [50]:
#update method
s2={1,2,3,4}
s2.update({5,6,7,8})
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
# remove,discard
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
s2.remove(8)
s2

{1, 2, 3, 4, 5, 6, 7}

In [53]:
s2.discard(7)
s2

{1, 2, 3, 4, 5, 6}

In [54]:
s2.remove(8)

KeyError: 8

In [55]:
s2.discard(8)

In [56]:
s2.pop()
s2

{2, 3, 4, 5, 6}

In [57]:
# union method return a new set with all items from both sets
s1={1,2,3,4,5}
s2={1,4,5,6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
s1.intersection(s2)

{1, 4, 5}