### Function:
- set of instructions to perform a task
#### Types of functions
##### Pre-defined functions
- print(),type(),int(),input(),str(),float(),range(),dir(),
- max(),min(),abs(),chr(),ord()
##### user defined functions

In [ ]:
def function_name(arguments):
    statements
function_name(arguments)

In [2]:
a = "String123"
min(a)
max(a)

't'

In [4]:
h = '1230'
min(h)

'0'

In [5]:
a = -9
abs(a)

9

In [8]:
chr(48)

'0'

In [9]:
chr(65)

'A'

In [10]:
ord(' ')

32

In [11]:
ord('7')

55

In [13]:
ord('z')

122

### Types of functions
- Required arguments
- keyword arguments
- variable length arguments
- default arguments

In [16]:
def sample(name):
    print(name+" welcome to funtions concept")
sample(input("enter your name"))

enter your namepython
python welcome to funtions concept

In [15]:
name = input("enter your name")
sample(name)

enter your namepoojitha
poojitha welcome to funtions concept

In [ ]:
sample(input("enter your name"))
#sample("python")

In [20]:
# required arguments
def add(a,b,d):
    c = a + b + d
    return c
add(6,1,8)

15

15

In [21]:
# keyword arguments
def add(a,b,d):
    c = a + b + d
    print(a,b,d)
    return c
add(b=6,d=1,a=8)

8 6 1

15

In [23]:
# default arguments
def hi(a=23,b="python",c=89,d=67.98):
    print(a,b)
    print(c,d)
    
#defaultargs(87)
hi(67,"hai")

67 hai
89 67.98

In [25]:
hi()

23 python
89 67.98

In [28]:
# variable length arguments
def varargs(a,b,*c):
    print(a,b)
    print(c)
    
varargs(1,2,34,5,6,7,9,0,67,45,78,459)

1 2
(34, 5, 6, 7, 9, 0, 67, 45, 78, 459)

### Lists
- collection of elements of different data types
- represented by [] with comma seperated elements
- mutable
### operations
- concatenation
- replication
- Membership operation

In [29]:
k = []
type(k)

list

In [30]:
k1 = [1,2,3,"python",89.23]
k2 = [6,7,8]
k1+k2

[1, 2, 3, 'python', 89.23, 6, 7, 8]

In [31]:
k2 * 2

[6, 7, 8, 6, 7, 8]

In [32]:
10 in k1

False

In [33]:
5 not in k2

True

In [34]:
'python' in k1

True

### List methods
- append(),extend(),insert(),clear(),copy(),pop(),count(),index(),reverse(),remove()

In [35]:
k = []

In [38]:
k.append(45)

In [39]:
k

[45, 45]

In [40]:
k.append(k1)

In [41]:
k

[45, 45, [1, 2, 3, 'python', 89.23]]

In [42]:
k.append("float")

In [43]:
k

[45, 45, [1, 2, 3, 'python', 89.23], 'float']

In [46]:
k.extend("a")

In [47]:
k

[45, 45, [1, 2, 3, 'python', 89.23], 'float', 'a', 'a']

In [48]:
k.extend(k2)

In [50]:
k2

[6, 7, 8]

In [49]:
k

[45, 45, [1, 2, 3, 'python', 89.23], 'float', 'a', 'a', 6, 7, 8]

In [51]:
k[2]

[1, 2, 3, 'python', 89.23]

In [52]:
k.extend("hello")

In [53]:
k

[45,
 45,
 [1, 2, 3, 'python', 89.23],
 'float',
 'a',
 'a',
 6,
 7,
 8,
 'h',
 'e',
 'l',
 'l',
 'o']

In [54]:
k[2]

[1, 2, 3, 'python', 89.23]

In [55]:
k[2][2]

3

In [56]:
k[1:4]

[45, [1, 2, 3, 'python', 89.23], 'float']

In [57]:
k[-11:-13]

[]

In [58]:
k[-13:-11]

[45, [1, 2, 3, 'python', 89.23]]

In [59]:
k

[45,
 45,
 [1, 2, 3, 'python', 89.23],
 'float',
 'a',
 'a',
 6,
 7,
 8,
 'h',
 'e',
 'l',
 'l',
 'o']

In [60]:
k.insert(5,678)

In [62]:
k[5]

678

In [63]:
k[2].insert(1,"one")

In [64]:
k

[45,
 45,
 [1, 'one', 2, 3, 'python', 89.23],
 'float',
 'a',
 678,
 'a',
 6,
 7,
 8,
 'h',
 'e',
 'l',
 'l',
 'o']

In [65]:
k[2].clear()

In [2]:
k = [23,67,"python",[1,2,3],98.67]

In [3]:
c = k.copy()
c

[23, 67, 'python', [1, 2, 3], 98.67]

In [25]:
c.remove(67)

ValueError: list.remove(x): x not in list

In [5]:
c

[23, 'python', [1, 2, 3], 98.67]

In [6]:
k

[23, 67, 'python', [1, 2, 3], 98.67]

In [7]:
e = k
e

[23, 67, 'python', [1, 2, 3], 98.67]

In [8]:
e.clear()

In [9]:
e

[]

In [10]:
k

[]

In [11]:
c

[23, 'python', [1, 2, 3], 98.67]

In [12]:
c.pop()

98.67

In [13]:
c.pop(0)

23

In [14]:
c

['python', [1, 2, 3]]

In [15]:
j = [1,2,3,1,4,5,1,2,1,7]
j.count(1)

4

In [16]:
j.count(6)

0

In [17]:
j.index(4)

4

In [18]:
j.index(1)

0

In [19]:
j.sort()

In [20]:
j

[1, 1, 1, 1, 2, 2, 3, 4, 5, 7]

In [21]:
j.sort(reverse=True)

In [22]:
j

[7, 5, 4, 3, 2, 2, 1, 1, 1, 1]

In [23]:
j.sort(reverse=False)

In [24]:
j

[1, 1, 1, 1, 2, 2, 3, 4, 5, 7]

In [30]:
k1 = input().split()
for i in k1:
    print(i)

1 5 7 9 3
1
5
7
9
3

In [29]:
k2 = input().split()
for i in range(len(k2)):
    print(k2[i])

11 12 15 171 18
11
12
15
171
18

In [35]:
s = input().split()

a = 0
for i in s:
    a +=int(i)
print(a)

1 2 3
6

In [ ]:
#1 Input:
## k1 = [10,20,30,40]
## k2 = [50,60,70,80]
# output:
### k = [60,80,100,120]

#2 Unique list 
# input [1,2,3,1,4,1,6]
# output [1,2,3,4,6]

#3 divide as even and odd list
# input: [1,2,3,4,5,6,7,8]
# output:
# [2,4,6,8]
# [1,3,5,7]

#4
# input: [abc 123 ghj 789 klm 12 ]
# output: 924 (123+789+12)

### Tuples
- tuples are similar to lists
- enclosed by Paranthesis ()
- immutable
- used in dictionaries

In [36]:
a = 1,2,3,4,5,6
a

(1, 2, 3, 4, 5, 6)

In [37]:
type(a)

tuple

In [38]:
b = (7,4,5)
type(b)

tuple

In [43]:
b = (1,2,3)
b.count(2)
b.index(3)

2

In [39]:
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [44]:
del b

In [45]:
b

NameError: name 'b' is not defined

In [46]:
a

(1, 2, 3, 4, 5, 6)

In [47]:
h = list(a)
h

[1, 2, 3, 4, 5, 6]

In [48]:
g = tuple(h)
g

(1, 2, 3, 4, 5, 6)