- Functional Programming

    - lambda
    - map
    - filter
    - reduce

def fun_name(arguments): //definition part
    body_of_statements
    return (variable/statement)

fun_name(parameters) //calling part

In [1]:
def add(a,b):
    return a+b
add(3,8)

11

- lambda 
    - It is an Anonymous function
    - used to creating a small functions
    - Syntax: lambda arguments:expression

In [2]:
add = lambda a,b:a+b

In [5]:
print(add(5,6))

11

In [9]:
mul = lambda a,b:a*b

In [10]:
mul(6,4)

24

- map
    - Syntax: map(function,iterable1, iterable2...)

In [27]:
def m(a,b):
    return a*b
m(8,4)

32

In [30]:
a = map(m,[2,3,4],[6,7,8])
print(tuple(a))

(12, 21, 32)

In [11]:
def mul(a):
    return a*a
mul(8)

64

In [14]:
x = map(mul,[3,4,5])
print(tuple(x))

(9, 16, 25)

In [16]:
names = ['prasad','ravi','sharmila','bhavya']
ul = tuple(map(str.upper,names))
ul

('PRASAD', 'RAVI', 'SHARMILA', 'BHAVYA')

- map() with lambda()

In [18]:
a = map(lambda x:x**2,[5,3,2])
tuple(a)

(25, 9, 4)

- filter()

    - returns the iterator where the items are filtered
    - Syntax: filter(function,iterables)

In [19]:
n = [10,20,12,55,123,100,45,34]

def greater55(x):
    if x>=55:
        return True
    else:
        return False

ans = filter(greater55,n)
for i in ans:
    print(i)

55
123
100

- filter() with lambda()

In [22]:
r = filter(lambda x:x>=55,n)
print(tuple(r))

(55, 123, 100)

- reduce()
    - This function returns single value
    - Syntax: reduce(function,iterables)

In [23]:
import functools

In [24]:
print(dir(functools),end=' ')

['RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [26]:
a = functools.reduce(lambda x,y:x+y,[10,20,30,40])
print(a)

100

In [ ]:
x = 10
y = 20

x =30
y =30
 
x = 60
y = 40