# Pandas
- derived from **Panel Data**
- There are 2 main data structures in pandas
- ***Series***
- ***DataFrames***

#### Series

In [3]:
# creating pandas series from list
import pandas as pd
s = pd.Series([1,2,5,4,3])
print(s)

0    1
1    2
2    5
3    4
4    3
dtype: int64

In [4]:
import pandas as pd
s1 = pd.Series(['a','c','b'])
print(s1)

0    a
1    c
2    b
dtype: object

In [5]:
import pandas as pd
lst=[5,6,8,9,7]
s2 = pd.Series(lst)
print(s2)

0    5
1    6
2    8
3    9
4    7
dtype: int64

In [8]:
import pandas as pd
#lst=range(0,10)
s3 = pd.Series(range(1,6))
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
import pandas as pd
ser = pd.Series([1,3,5])
#print(ser)
print(ser[0:2])
#print(ser[2])

0    1
1    3
dtype: int64

In [14]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [38]:
pd.Series([10,11,12],index=pd.date_range('25-11-2019','27-11-2019'))

2019-11-25    10
2019-11-26    11
2019-11-27    12
Freq: D, dtype: int64

In [42]:
import pandas as pd
import numpy as np
pd.Series(np.array(range(0,10))**2,index=range(0,10))

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32

### Data Frames

In [56]:
import pandas as pd
data = [['sana',25],['pooji',24],['siva',20]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

    Name  Age
0   sana   25
1  pooji   24
2   siva   20

In [67]:
import pandas as pd
d1 = {'a':1,'b':2,'c':3}
d1 = pd.Series(d1)
print(d1)

a    1
b    2
c    3
dtype: int64

In [68]:
d2 = {'a':4,'b':5,'c':6}
d2 = pd.Series(d2)
print(d2)

a    4
b    5
c    6
dtype: int64

In [72]:
final = {'dict2':d1,'dict1':d2}
final = pd.DataFrame(final)
#final['d1']
finalfinal = {'dict2':d1,'dict1':d2}
final = pd.DataFrame(final)
#final['d1']
final

   dict2  dict1
a      1      4
b      2      5
c      3      6

In [73]:
import pandas as pd
d3 = {'a':1,'b':2,'c':3}
d3 = pd.Series(d3)
print(d3)

a    1
b    2
c    3
dtype: int64

In [74]:
import pandas as pd
d4 = {'d':4,'e':5,'f':6}
d4 = pd.Series(d4)
print(d4)

d    4
e    5
f    6
dtype: int64

In [75]:
final1 = {'dict2':d3,'dict1':d4}
final1 = pd.DataFrame(final1)
#final['d1']
final1

   dict2  dict1
a    1.0    NaN
b    2.0    NaN
c    3.0    NaN
d    NaN    4.0
e    NaN    5.0
f    NaN    6.0